* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;

  }

  body {
    overflow-x: hidden !important;
    overflow-y: hidden
  }

  



#logo {
    position: absolute;
    width: 150px;
    height: 93.75;
    left: 0;
    margin-left: 50px;
}

#yoop, #prod, #prog, #te, #cont {
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
}


#yoop:hover, #prod:hover, #prog:hover, #te:hover, #cont:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.head {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-items: under;
    justify-content: space-between 4px;
    gap: 3px;
}


h1 {
    font-size: 700%; font-weight: 600 
}

h2 {
    font-size: 700%; font-weight: 300 
}

#augh {
    font-size: 140%;
}

#augha {
    font-size: 140%;
}




.top {
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("webstuff/productsb.png");
    background-position: 70% 50%;
    opacity: 1;
    z-index: -999;
    transition: opacity 0.5s ease-in-out;
}

.content {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding-inline: 21vw;
    padding-bottom: 5vh;
    padding-top: 20vh;
    font-size: 140%;
    opacity: 1;
}


.title {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    padding-bottom: 0vh;
    font-size: 140%;
    gap: 14vw;
}

.stats {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20vh;
    font-size: 400%;
    gap: 7vw
}


.parallax {
    position: relative;
    height: 100vh; /* Adjust the height as needed */
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

.usabo-content,
.calcp-content,
.usaaao-content,
.useso-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    z-index: 2; /* Bring the text content above the background */
    color: #fff; /* Set the text color */
    white-space: nowrap;
}

.usabo {
    position: relative;
    height: 100vh; /* Adjust the height as needed */
    background-image: url('webstuff/usabobg.jpg'); /* Update with your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.usabo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (the last parameter) as needed */
    z-index: 1;
}



#usabob {
    color: #000;
    background-color: #fff;
    opacity: 60%;
    padding: 7px 20px;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 30vh;
    border: none;
}

#usabob:hover {
    animation: btnnanim ease 0.2s;
    animation-fill-mode: forwards;
  }

@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}





@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}


.calcp {
    background-image: url('webstuff/calcpbgnew.png'); /* Update with your image */
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    filter: brightness(80%) 
}


#calcpop {
    color: #000;
    background-color: #fff;
    opacity: 60%;
    padding: 7px 20px;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 30vh;
    border: none;
}

#calcpop:hover {
    animation: btnnanim ease 0.2s;
    animation-fill-mode: forwards;
  }

@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}

.usaaao {
    background-image: url('webstuff/usabg.jpg'); /* Update with your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1)
}

#usa {
    color: #000;
    background-color: #fff;
    opacity: 60%;
    padding: 7px 20px;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 30vh;
    border: none;
}

#usa:hover {
    animation: btnnanim ease 0.2s;
    animation-fill-mode: forwards;
  }

@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}

.useso {
    background-image: url('webstuff/usesobg.png'); /* Update with your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    z-index: 999
}

#usesop {
    color: #000;
    background-color: #fff;
    opacity: 60%;
    padding: 7px 20px;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 30vh;
    border: none;
}

.useso::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity (the last parameter) as needed */
    z-index: 1;
}

#usesop:hover {
    animation: btnnanim ease 0.2s;
    animation-fill-mode: forwards;
  }

@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  
  }
  
  
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #505250;
}

html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }

  .copyright {
    margin-block: 3vh;
    display: flex;
    justify-content: center;
  }


  @media only screen and (max-width: 768px) {
    body {
        font-size: 10px
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background: transparent;
        font-family: 'Poppins', sans-serif;
        }
    
    #logo {
        margin-top: 0;
        margin-bottom: -10px;
        width: 200px;

    }
    
    .head {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #prod, #prog, #te, #cont {
        margin: 5px;
        padding: 2.5px 12.5px;
    }


    .content {
        padding-inline: 45px
    }
    
    .stats {
        font-size: 30px
    }

    h1 {
        font-size: 50px
    }

    h2 {
        font-size: 45px;
    }
    
    #augh {
        font-size: 10px
    }

    #augha {
        font-size: 9px;
    }

    .calcp {
        background-position: center;
        background-size: 400%;
        }

    .useso {
        background-position:  top;
    }




  }
