* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;

  }

.crazy {
    display: flex; 
    justify-content: center;
}

#logo {
    margin-top: -6vh;
    width: 400px;
    height: auto;
    margin-bottom: -8vh;
}

#prod, #prog, #te, #cont {
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 50px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
}



#prod:hover, #prog:hover, #te:hover, #cont:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.head {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-items: under;
    justify-content: space-between 4px;
    gap: 3px;
}


.top {
    background-image: url("webstuff/productsb.png");
    background-position: 70% 50%;
}

.programstop {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding-inline: 21vw;
    padding-bottom: 5vh;
    padding-top: 20vh;
    font-size: 140%;
}


.title {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    padding-bottom: 0vh;
    font-size: 140%;
    gap: 14vw;
}

.stats {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20vh;
    font-size: 400%;
    gap: 7vw
}


.usabo {
    padding-block: 40vh; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    background-image: url("webstuff/usabobg.jpg");
    background-size: 95% auto;
    background-position: center;
}

#usabob {
    color: #000;
    background-color: #fff;
    opacity: 60%;
    padding: 7px 20px;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 20vh;
    border: none;
}

#usabob:hover {
    animation: btnnanim ease 0.2s;
    animation-fill-mode: forwards;
  }

@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}

.seekso {
    padding-top: 40vh; 
    padding-bottom: 40vh;
    display: flex; 
    align-items: center;
    flex-direction: column;
    background-image: url("webstuff/seeksobg.png");
    background-size: 170% auto;
    background-position: center;
}

#seeksop {
    color: #000;
    background-color: #fff;
    opacity: 60%;
    padding: 7px 20px;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 20vh;
    border: none;
}

#seeksop:hover {
    animation: btnnanim ease 0.2s;
    animation-fill-mode: forwards;
  }

@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}

.calcp {
    padding-block: 40vh; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    background-image: url("webstuff/calcpbg.png");
    background-size: 150%;
    background-position: center;
}

#calcpop {
    color: #000;
    background-color: #fff;
    opacity: 60%;
    padding: 7px 20px;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 20vh;
    border: none;
}

#calcpop:hover {
    animation: btnnanim ease 0.2s;
    animation-fill-mode: forwards;
  }

@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}

.usaaao {
    padding-block: 40vh; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    background-image: url("webstuff/usabg.jpg");
    background-size: 120%;
    background-position: center;
}

#usa {
    color: #000;
    background-color: #fff;
    opacity: 60%;
    padding: 7px 20px;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 20vh;
    border: none;
}

#usa:hover {
    animation: btnnanim ease 0.2s;
    animation-fill-mode: forwards;
  }

@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}

.useso {
    padding-block: 40vh; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    background-image: url("webstuff/usesobg.png");
    background-size: 95% auto;
    background-position: center;
}

#usesop {
    color: #000;
    background-color: #fff;
    opacity: 60%;
    padding: 7px 20px;
    border-radius: 12px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-top: 20vh;
    border: none;
}

#usesop:hover {
    animation: btnnanim ease 0.2s;
    animation-fill-mode: forwards;
  }

@keyframes btnnanim {
    0% {
        opacity: 60%
    }

    100% {
        opacity:  100%
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  
  }
  
  
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #505250;
}

html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }