* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-image: url("titleb.png");
  }

.crazy {
    display: flex; 
    justify-content: center;
}

#logo {
    margin-top: -6vh;
    width: 400px;
    height: auto;
    margin-bottom: -8vh;
}

#prod, #prog, #te, #cont {
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 50px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
}



#prod:hover, #prog:hover, #te:hover, #cont:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.head {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-items: under;
    justify-content: space-between 4px;
    gap: 3px;
}

.programstop {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding-right: 22vw;
    padding-bottom: 5vh;
    padding-top: 10vh;
    font-size: 140%;
    padding-left: 22vw;
}


.title {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    padding-bottom: 0vh;
    font-size: 140%;
    gap: 14vw;
}

.stats {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20vh;
    font-size: 400%;
    gap: 7vw
}