* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow-y: hidden; Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


body {
  background-color: #000;
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav a:hover {
  color: #f00;
}

section {
  padding: 50px;
}

h1 {
  margin-top: 15%;
  margin-bottom: 10%;
  text-align: center;
}


body {
  font-family: 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, p {
  font-family: Helvetica;
}

h2 {
  font-size: 1300%;
  margin-left: 7%;
}

h4 {
  font-size: 600%;
  margin-left: 7%;
  margin-right: 5%;
}

p {
  line-height: 1.5;
}



#home {
  text-align: center;
}

#home h1 {
  font-family: Helvetica;
  font-size: 1400%;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home h1 img {
  height: 300px;
  width: 300px;
  margin: -60px;
}


/* title text animation */
#title {
  animation: fadeInAnimation ease 6s;
  animation-fill-mode: both;
  animation-delay: 1.3s;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
/* end */

/* logo animation */
#logo {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
}




/* end */

/* title under text animation */
#btext {
  animation: fadeIn_moveUp ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 2.7s;
  animation-iteration-count: 1;
  
}

@keyframes fadeIn_moveUp {
  0% {
      opacity: 0;
      transform: translateY(0);
  }
  100% {
      opacity: 1;
      transform: translateY(-30px);
  }


}
/* end */
#dreambig {
  animation: fadeIn_moveUp ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 2.7s;
  animation-iteration-count: 1;
}

#dbt {
  animation: fadeIn_moveUp ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 3.2s;
  animation-iteration-count: 1;
}

#dbi {
  animation: fadeIn_moveUp ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 3.7s;
  animation-iteration-count: 1;
}
/*dreambigtext animation*/

/* olympiadpageex1 */
#oly {
  animation: fadeIn_moveUp ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 2.7s;
  animation-iteration-count: 1;
}

/* 50 */
#fif {
  animation: fadeIn_moveUp ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 2.7s;
  animation-iteration-count: 1;
}

#fift {
  animation: fadeIn_moveUp ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 3.2s;
  animation-iteration-count: 1;
}

#dbi {
  filter: brightness(30%)
}

