* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; 
}


body {
  background-color: #000;
  color: #fff;
}



header {
  background-color: #333;
  color: #fff;
  padding: 18px; /* Increase the padding to make the nav bar thicker */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
  z-index: 9999; /* Set a higher z-index value */
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

nav a:hover {
  color: #f00;
}


/* 
section {
  padding: 50px;
} */

h1 {
  margin-top: 20%;
  margin-bottom: 10%;
  text-align: center;
}


body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 850%;
  padding-left: 27%;
  padding-right: 27%;
  font-weight: 600;
  white-space: nowrap;
}

#dbt {
  font-size: 160%;
  justify-content: center;
  padding-inline: 27vw;
  color: #9e9e9d; 
  font-weight: 500;
}

#oly {
  font-size: 160%; 
  padding-left: 27%;
  padding-right: 27%; 
  color: #9e9e9d;
  padding-top: 50%;
  padding-bottom: 25%;
  font-weight: 500;
}

h4 {
  font-size: 270%;
  padding-left: 27%;
  padding-right: 27%;
  padding-bottom: 1.5%;
  font-weight: 600;
}

#ptext {
  font-size: 160%; 
  padding-left: 27%;
  padding-right: 27%;
  color: #9e9e9d; 
  padding-bottom: 20%; 
  font-weight: 500;
}

p {
  line-height: 1.4;
}

#bsm {
  font-size: 160%; 
  text-align: center; 
  color:#fff
}

#bsbg {
  font-size: 400%; 
  text-align: center; 
  color:#fff;
  font-weight: 600;
}






#home {
  text-align: center;
}

#home h1 {
  font-family: Helvetica;
  font-size: 1000%;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home h1 img {
  height: 15%;
  width: 15%;
  margin: -3%
}

#btext {
  text-align: center; 
  font-size: 150%; 
  padding-bottom: 25%
}


/* title text animation */
#title {
  animation: fadeInAnimation ease 3s;
  animation-fill-mode: both;
  animation-delay: 0.65s;
  animation-iteration-count: 1;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
/* end */

/* logo animation */
#logo {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
}




/* end */

/* title under text animation */
#btext {
  animation: fadeIn_moveU ease 1.7s;
  animation-fill-mode: both;
  animation-delay: 1.35s;
  animation-iteration-count: 1;
  
}

@keyframes fadeIn_moveU {
  0% {
      opacity: 0;
      transform: translateY(0);
  }
  100% {
      opacity: 1;
      transform: translateY(-30px);
  }

}



/* on scroll*/
/* #dreambig {
  animation: fadeIn_moveU ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 2.7s;
  animation-iteration-count: 1;
}

#dbt {
  animation: fadeIn_moveU ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 3.2s;
  animation-iteration-count: 1;
}

#dbi {
  animation: fadeIn_moveU ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 3.7s;
  animation-iteration-count: 1;
}

#oly {
  animation: fadeIn_moveU ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 2.7s;
  animation-iteration-count: 1;
}


#fif {
  animation: fadeIn_moveU ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 2.7s;
  animation-iteration-count: 1;
}

#fift {
  animation: fadeIn_moveU ease 3.4s;
  animation-fill-mode: both;
  animation-delay: 3.2s;
  animation-iteration-count: 1;
} */
















#dbi {
  filter: brightness(70%)
}

/* get started button */
#container {
  text-align: center;
  outline: none;
}


.btn {
  margin-top: 2%;
  margin-bottom: 13%;
  padding: 15px 28px;
  border-radius: 16px;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(241deg, #189FFD, #AE63E8);
}

@keyframes btn {
  0% {
      border-radius: 16px;
  }
  100% {
      border-radius: 0px;
  }
  

}

/* Add the hover effect */
.btn:hover {
  animation: btn ease 0.5s;
  animation-fill-mode: forwards;
}



::-webkit-scrollbar {
  width: 8px;
  height: 10px;

}


::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #505250;
}

/* ... Your existing styles ... */


