* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }

  /* body {
  background-image: url('titleb.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */

.crazy {
    display: flex; 
    justify-content: center;
}

#logo {
    margin-top: -6vh;
    width: 400px;
    height: auto;
    margin-bottom: -8vh;
}

#prod, #prog, #te, #cont {
    color: #fff;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 50px;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
}



#prod:hover, #prog:hover, #te:hover, #cont:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

  

.head {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-items: under;
    justify-content: space-between 4px;
    gap: 3px;
}


.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("webstuff/ourteambg.png");
  background-position: 60% 50%;
  opacity: 1;
  z-index: -999;
  transition: opacity 0.5s ease-in-out;
}

.content {
  display: flex; 
  justify-content: center;
  flex-direction: column;
  padding-inline: 26vw;
  padding-bottom: 5vh;
  padding-block: 20vh;
  font-size: 130%;
  opacity: 1;
}

.title {
  display: flex; 
  justify-content: center;
}

.titlebottom {
  display: flex;
  justify-content: center;
}

.titlebottom h1 {
  padding-top: 5vh;
}

h1 {
  font-size: 385%;
  padding-top: 20vh;
  padding-bottom: 5vh;
  font-weight: 600;
}

.executive {
  display: flex;
  gap: 60px; 
  flex-wrap: wrap;
  padding-inline: 6vw;
  justify-content: center;
}

.writers {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding-inline: 6vw;
  
}

.bottomprof {
  display: flex;
  flex-direction: row; /* Center-align text */
  width: calc(33.3% - 40px); /* Adjusted width to fit 3 per row with gaps */
  margin-bottom: 40px;
}

.bottomprof img {
  width: 127px;
  height: 127px;
  border-radius: 50%;
  margin-right: 40px
}

.writerdetails {
  flex: 1;
}

.writerdetails h4 {
  font-size: 150%;
  font-weight: 600;
}

ul {
  list-style-position: inside;
  line-height: 110%;
}

.bottomprof:nth-child(3n) {
  margin-right: 0;
}

.titlebottombottom {
  display: flex;
  justify-content: center;
}

.titlebottombottom h1 {
  padding-top: 5vh;
}




.profile-card {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 761.4px;
  width: 403px; 
}

.profile-card img {
  width: 403px;
  height: 397px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-details h2,
.profile-details p {
  padding-inline: 30px;

}

.profile-details h2 {
  margin-bottom: 30px;
}

.social-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
}



.fa {
  background: #000;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 5%;
  padding: 20%;
  text-decoration: none;
  border-radius: 50% ;
  font-size: 20px; 
  transition: color 0.3s ease-in-out;
}








html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
  }
  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }